.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.5);
  animation: zoomIn 2.5s ease forwards;
}

@keyframes zoomIn {
  to {
      opacity: 1;
      transform: scale(1);
  }
}


.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  border-radius: 50px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 40px;
  color: #626262;
  background-color: #d6fff9;
  font-size: 20px;
}
.search-bar img {
  width: 50%;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

.weather-icon {
  width: 150px;
  margin: 30px 0;
}
.temp {
  color: wheat;
  font-size: 80px;
  line-height: 1;
}

.city {
  color: #fff;
  font-size: 40px;
}

.weather-data{

    width: 100%;
    margin-top: 40px;
    color: #fff;
    gap: 30px;
    display: flex;
    justify-content: space-between;

}

.weather-data .col{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-size: 22px;

}
.weather-data .col span{

    display: block;
    font-size: 26px;
    font-weight: 400;
  }

.weather-data .col img{

    width: 35px;
    margin-top: 10px;
}